$colour-primary: #f5ab00;
$colour-secondary: #ff6900;
$colour-dark: #333333;
$colour-light: #e5e5e8;
$colour-black: #080b0f;

$font-primary: "Outfit", sans-serif;
$font-headers: "Oswald", sans-serif;

$border-primary: 1px solid $colour-primary;
$border-secondary: 1px solid $colour-secondary;
$border-light: 1px solid $colour-light;
